@font-face {
    font-family: "Mazius-ExtraItalic";
    src: url(./fonts/MAZIUSREVIEW20.09-Extraitalic.woff), url(./fonts/MAZIUSREVIEW20.09-Extraitalic.woff2);
}

@font-face {
    font-family: "Gilroy-Medium";
    src: url(./fonts/Gilroy-Medium.ttf);
}

@font-face {
    font-family: "Gilroy-SemiBold";
    src: url(./fonts/Gilroy-SemiBold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

#container {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#main {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #161616;
    overflow: hidden;
}

#main #top-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    /* background-color: yellow; */
    text-align: center;
    padding: 2vh 0;
    overflow: hidden;
}

#main #top-text .dp {
    font-family: "Gilroy-Medium";
    font-size: 0.6vw;
    color: #fff;
    letter-spacing: 0.1vw;
    /* background-color: red; */
    overflow: hidden;
}

.goUp {
    display: inline-block;
    transform: translateY(0%);
}

#main #text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    font-family: "Gilroy-Medium";
    color: #fff;
    font-size: 2vw;
    letter-spacing: 2px;
    /* background-color: yellow; */
    overflow: hidden;
}

#main #text-container #sheikh {
    display: inline-block;
    font-family: "Mazius-ExtraItalic", serif;
    color: #14cf93;
    transform: translateX(30%);
}

#main #text-container #is {
    display: inline-block;
    transform: translateX(200%);
}

#main #text-container #a {
    display: inline-block;
    transform: translateX(300%);
}

#main__overlay-green {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #14cf93;
    /* animation: slideUp 1s ease-out 2s 1 forwards; */
}

#main__overlay-white {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0vh;
    background-color: #fcfaf8;
    /* animation: slideUp 1.2s ease-out 2.2s 1 forwards; */
}

#main__overlay-white #heading-1 {
    position: absolute;
    top: 35%;
    left: 12%;
    transform: translate(-12%, -40%);
    font-size: 10vw;
    color: #161616;
}

#main__overlay-white #heading-2 {
    position: absolute;
    top: 60%;
    right: 5%;
    transform: translate(-10%, -50%);
    font-size: 10vw;
    color: #161616;
}

.parent {
    display: block;
    overflow: hidden;
    /* background-color: yellow; */
}

.child {
    display: block;
    font-family: 'Gilroy-SemiBold', sans-serif;
    font-size: 11.5vw;
    font-weight: 500;
    transform: translateY(100%);
    /* animation: up 1s ease-out 3s 1 forwards; */
}

@keyframes up {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes slideUp {
    0% {
        height: 0;
    }
    100% {
        height: 100vh;
    }
}